<!--
<br>
<h1>Datos Generales de Obra</h1>
<br>

<form>
  <fieldset>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Seleccione un proyecto:</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Proyectos...</option>
        <option value="item.id" *ngFor="let item of proyectos">{{item.nombre}}</option>
      </select>
      <span class="input-group-text">Exportar a:</span>
      <button type="button" class="btn btn-success">Excel</button>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="razon_input">Denominacion o Razon social</label>
      <input id="razon_input" type="text" class="form-control" placeholder="Denominacion o Razon social">
      <label class="input-group-text" for="rfc_input">RFC</label>
      <input id="rfc_input" type="text" class="form-control" placeholder="RFC">
      <label class="input-group-text" for="contrato_input">No. Contrato</label>
      <input id="contrato_input" type="text" class="form-control" placeholder="No. Contrato">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="patronal_input">Registro Patronal</label>
      <input id="patronal_input" type="text" class="form-control" placeholder="Registro Patronal">
      <label class="input-group-text" for="obra_input">Registro de Obra</label>
      <input id="obra_input" type="text" class="form-control" placeholder="Registro Patronal">
      <label class="input-group-text" for="ubicacion_input">Ubicacion</label>
      <input id="ubicacion_input" type="text" class="form-control" placeholder="Ubicacion">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="area_input">Area del Biotine</label>
      <input id="area_input" type="text" class="form-control" placeholder="Area del Biotine">
      <label class="input-group-text" for="proyecto_input">Nombre del Proyecto</label>
      <input id="proyecto_input" type="text" class="form-control" placeholder="Nombre del Proyecto">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="propietario_input">Registro de Obra Propietario o Numero de Aviso de ubicacion de obras</label>
      <input id="propietario_input" type="text" class="form-control" placeholder="">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="tipopatron_input">Tipo de Patron</label>
      <input id="tipopatron_input" type="text" class="form-control" placeholder="Tipo de Patron">
      <label class="input-group-text" for="obra_input">Tipo de Obra</label>
      <input id="tipoobra_input" type="text" class="form-control" placeholder="Tipo de Obra">
      <label class="input-group-text" for="claseobra_input">Clase de Obra</label>
      <input id="claseobra_input" type="text" class="form-control" placeholder="Clase de Obra">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="periodo_input">Periodo de Ejecucion de Obras</label>
      <input id="periodo_input" type="text" class="form-control" placeholder="Periodo de Ejecucion de Obras">
      <label class="input-group-text" for="monto_input">Monto</label>
      <input id="monto_input" type="text" class="form-control" placeholder="Tipo de Obra">
      <label class="input-group-text" for="superficie_input">Superficie de Construccion</label>
      <input id="superficie_input" type="text" class="form-control" placeholder="Superficie de Construccion">
    </div>
  </fieldset>
</form>

<br>

<div class="row">

  <div class="col-6 col-md-6">
    <form action="#">
      <fieldset>
        <legend>Datos del Cliente</legend>
        <div class="input-group mb-3">
          <label class="input-group-text" for="nombrecliente_input">Nombre del Cliente</label>
          <input id="nombrecliente_input" type="text" class="form-control" placeholder="Nombre del Cliente">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="nombrecontacto_input">Nombre del Contacto</label>
          <input id="nombrecontacto_input" type="text" class="form-control" placeholder="Nombre del Contacto">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="telefonocontacto_input">Telefonos del Contacto</label>
          <input id="telefonocontacto_input" type="text" class="form-control" placeholder="Telefonos del Contacto">
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-6 col-md-6">
    <form action="#">
      <fieldset>
        <legend>Gerencia de Obra</legend>
        <div class="input-group mb-3">
          <label class="input-group-text" for="gerencianombrecliente_input">Nombre</label>
          <input id="gerencianombrecliente_input" type="text" class="form-control" placeholder="Nombre del Cliente">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="gerencianombrecontacto_input">Nombre del Contacto</label>
          <input id="gerencianombrecontacto_input" type="text" class="form-control" placeholder="Nombre del Contacto">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="gerenciatelefonocontacto_input">Telefonos del Contacto</label>
          <input id="gerenciatelefonocontacto_input" type="text" class="form-control" placeholder="Telefonos del Contacto">
        </div>
      </fieldset>
    </form>
  </div>

</div>
-->

<p>dg-obra works!</p>
