<div class="page-wrapper auth">
  <div class="page-inner">
    <div class="page-content-wrapper bg-transparent m-0" style="padding-left: 0;">
      <!--<div class="flex-1" style="background: url(assets/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">-->
      <div class="flex-1">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-xl-12">
              <h2 class="fs-xxl fw-500 mt-4 text-black text-center">
                ¿Perdiste tu contraseña?
                <small class="h3 fw-300 mt-3 mb-5 text-black opacity-60 hidden-sm-down">
                  No hay problema, a los mejores nos pasa, ingresa el correo de tu cuenta y te ayudaremos a recuperarla
                </small>
              </h2>
            </div>

            <div class="col-xl-6 ml-auto mr-auto">
              <div class="card p-4 rounded-plus bg-faded">

                <form *ngIf="!emailSent" id="js-login" [formGroup]="forgotPasswdForm" (ngSubmit)="forgotPassword()">

                  <div class="form-group">
                    <div *ngIf="serverError" class="text-danger">
                      Se ha producido un error al cambiar su contraseña, intente nuevamente en unos minutos. Si el problema persiste, contacte a soporte.
                    </div>
                    <label class="form-label" for="lostaccount">Correo</label>

                    <input type="email" name="email" id="lostaccount" class="form-control" formControlName="email"  placeholder="Correo de recuperación" required>
                    <!--<div class="help-block">Te enviaremos instrucciones a tu correo</div>-->
                    <div *ngIf="email && email.invalid && (email.dirty || email.touched) && email.errors?.['required']" class="text-danger">
                      Debe ingresar un correo.
                    </div>
                    <div *ngIf="email && email.invalid && (email.dirty || email.touched) && email.errors?.email" class="text-danger">
                      Debe ingresar un correo válido.
                    </div>
                    <div *ngIf="!accountExists" class="text-danger">
                      No hay ninguna cuenta asociada a este correo, verifícalo.
                    </div>

                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-4 ml-auto text-right">
                      <button id="js-login-btn" type="submit" class="btn btn-danger" [disabled]="!forgotPasswdForm.valid">Enviar</button>
                    </div>
                  </div>
                </form>
                <div *ngIf="emailSent" class="fs-xxl fw-500 mt-4 text-center">
                  Se ha enviado un correo a "{{ email?.value }}" con las instrucciones para continuar.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
