<br>
<h1>Control de asistencia > {{title}}</h1>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button (click)="onAsistenciaDiariaSeleccionada()" class="nav-link active" id="nav-diario-tab" data-bs-toggle="tab" data-bs-target="#nav-diario" type="button" role="tab" aria-controls="nav-diario" aria-selected="true"><h5>Diario</h5></button>
    <button (click)="onAsistenciaSemanalSeleccionada()" class="nav-link" id="nav-semanal-tab" data-bs-toggle="tab" data-bs-target="#nav-semanal" type="button" role="tab" aria-controls="nav-semanal" aria-selected="false"><h5>Semanal</h5></button>
    <button (click)="onAsistenciaMensualSeleccionada()" class="nav-link" id="nav-mensual-tab" data-bs-toggle="tab" data-bs-target="#nav-mensual" type="button" role="tab" aria-controls="nav-mensual" aria-selected="false"><h5>Mensual</h5></button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-diario" role="tabpanel" aria-labelledby="nav-diario-tab">
    <app-control-asistencia-diaria *ngIf="showDiario"></app-control-asistencia-diaria>
  </div>
  <div class="tab-pane fade" id="nav-semanal" role="tabpanel" aria-labelledby="nav-semanal-tab">
    <app-control-asistencia-semanal *ngIf="showSemanal"></app-control-asistencia-semanal>
  </div>
  <div class="tab-pane fade" id="nav-mensual" role="tabpanel" aria-labelledby="nav-mensual-tab">
    <app-control-asistencia-mensual *ngIf="showMensual"></app-control-asistencia-mensual>
  </div>
</div>




