.td {
  text-align: center;
  vertical-align: middle;
}
.espace-row{
  margin-top: -10px;
}
@media (max-width:576px) {
  .espace{
    margin: 5px;
  }
  .espace-row{
    margin-bottom: -10px;
  }
}
@media (max-width:1280px) {
  .short-text{
    display: none;
  }
}
