<div class="row filter-group">
  <div class="col-md-3 col-sm-12">
    <div class="input-group">
      <input type="text" name="fecha" autocomplete="off" bsDatepicker [maxDate]="today"
             [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false, isAnimated: true, containerClass: 'theme-dark-blue' }" id="fecha"
             placeholder="Fecha" (bsValueChange)="dateCreated($event)" value="{{fecha}}" class="form-control fecha-class" />
      <label class="input-group-text fecha-color"><i class="fa fa-calendar"></i></label>
    </div>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-4 col-sm-12 d-flex flex-row-reverse button-group">
    <button type="button" class="btn btn-danger button-magen" (click)="cleanFilters()"> Limpiar filtros &nbsp;<i class="bx bx-filter-alt"></i></button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success button-magen" (click)="exportToExcel()">Exportar Excel &nbsp;<i class='bx bxs-download'></i></button>
  </div>
</div>
<div class="row filter-group">
  <form action="#" id="filterForm">
    <div class="row g-3">
      <div class="input-group col-lg col-md col-sm-12">
        <input type="text" class="form-control input-search" #search placeholder="Buscar...">
        <div class="input-group-append">
          <button class="btn btn-success bx bx-search btn-search" (click)="searchAsitenciaByCriterio(search.value); search.value='';"></button>
        </div>
      </div>
      <div class="input-group col-lg col-md col-sm-12">
        <label class="input-group-text" for="selectedWorker">Trabajador:</label>
        <select class="form-select" id="selectedWorker" [(ngModel)]="selectedWorker"
                [ngModelOptions]="{standalone: true}" (change)='getEntityAndProyectsByWorker()'>
          <option *ngIf="numeroWorkers==0"></option>
          <option [value]="item.id" *ngFor="let item of workers">{{item.nombre}} {{item.apellidos}}</option>
        </select>
      </div>
      <div class="input-group col-lg col-md col-sm-12">
        <label class="input-group-text" for="proyectoSelect">Proyecto:</label>
        <select class="form-select" id="proyectoSelect" [(ngModel)]="selectedProyecto"
                [ngModelOptions]="{standalone: true}" (change)='getEntityAndWorkerByProyect()'>
          <option *ngIf="numeroProyectos==0"></option>
          <option [value]="item.id" *ngFor="let item of proyectos">{{item.nombre}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<br>
<div class="row check-group">
  <div class="input-group col-sm" (click)="listCheckAsistencias()">
    <div class="input-group-append work">
      <label class="input-group-text btn btn-success"><i *ngIf="checkasistencias" class="fa fa-check"></i></label>
    </div>
    <input type="text" class="form-control check-large" value="Asistencia" disabled>
  </div>
  <div class="input-group col-sm" (click)='listCheckFaltas()'>
    <div class="input-group-append work">
      <label class="input-group-text btn btn-danger"><i *ngIf="checkfaltas" class="fa fa-check"></i></label>
    </div>
    <input type="text" class="form-control check-large" value="Falta" disabled>
  </div>
  <div class="input-group col-sm" (click)="listCheckIncapacidad()">
    <div class="input-group-append work">
      <label class="input-group-text btn pink-color"><i *ngIf="checkincapacidad" class="fa fa-check"></i></label>
    </div>
    <input type="text" class="form-control check-large" value="Incapacidad" disabled>
  </div>
  <div class="input-group col-sm" (click)='listCheckDescansos()'>
    <div class="input-group-append work">
      <label class="input-group-text btn btn-primary"><i *ngIf="checkdescansos" class="fa fa-check"></i></label>
    </div>
    <input type="text" class="form-control check-large" value="Descanso" disabled>
  </div>
  <div class="input-group col-sm" (click)='listCheckNolaboro()'>
    <div class="input-group-append work">
      <label class="input-group-text btn btn-warning"><i *ngIf="checknolaboro" class="fa fa-check"></i></label>
    </div>
    <input type="text" class="form-control check-large" value="No laboro" disabled>
  </div>
</div>
<div class="progress" *ngIf="showLoadingBar">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
<div class="row">
  <table class="table table hover">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Entidad</th>
      <th scope="col">Cargo</th>
      <th scope="col" class="td">Hora de entrada</th>
      <th scope="col" class="td">Estatus</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dataSource| paginate : {
                  id: paginationId,
                  itemsPerPage: pageSizeDiarias,
                  currentPage: pageNumberDiarias,
                  totalItems: totalItemsDiarias
                };
          let i = index">
      <td>{{item.trab_id}}</td>
      <td>{{item.nomb_trab}}</td>
      <td>{{item.apell_trab}}</td>
      <td>{{item.ent_nombre}}</td>
      <td>{{item.categ}}</td>
      <td class="td">{{item.punch_time | date: 'h:mm a'}}</td>
      <td class="td green-color" *ngIf="item.status=='A'">{{item.status}}</td>
      <td class="td red-color" *ngIf="item.status=='F'">{{item.status}}</td>
      <td class="td pink-color" *ngIf="item.status=='I'">{{item.status}}</td>
      <td class="td blue-color" *ngIf="item.status=='D'">{{item.status}}</td>
      <td class="td yellow-color" *ngIf="item.status=='NL'">{{item.status}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <pagination-controls
    [id]="paginationId"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    [responsive]="true"
    (pageChange)="handlePageDiariasChange($event)"
  ></pagination-controls>
</div>



