<div class="page-wrapper auth">
  <div class="page-inner">
    <div class="page-content-wrapper bg-transparent m-0" style="padding-left: 0;">
      <!--<div class="flex-1" style="background: url(assets/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">-->
      <div class="flex-1">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-xl-12">
              <h2 class="fs-xxl fw-500 mt-4 text-black text-center">
                Ingresa una nueva contraseña para tu cuenta
              </h2>
            </div>

            <div class="col-xl-6 ml-auto mr-auto">
              <div class="card p-4 rounded-plus bg-faded">
                <form *ngIf="!passwordReset" id="js-login" [formGroup]="forgotPasswdNewPasswdForm" (ngSubmit)="resetPassword()">
                  <div class="form-group">
                    <div *ngIf="serverError" class="text-danger">
                      Se ha producido un error al cambiar tu contraseña, intenta nuevamente en unos minutos. Si el problema persiste, contacte a soporte.
                    </div>
                    <div *ngIf="forgotPasswdNewPasswdForm?.invalid && (forgotPasswdNewPasswdForm?.dirty || forgotPasswdNewPasswdForm?.touched) && forgotPasswdNewPasswdForm?.errors?.notEqualPasswords" class="text-danger">
                      Las contraseñas deben coincidir.
                    </div><br>
                    <label class="form-label" for="lostaccount">Contraseña</label>
                    <input type="password" name="password" id="lostaccount" class="form-control" formControlName="password"  placeholder="Nueva contraseña" required>
                    <!--<div class="help-block">Te enviaremos instrucciones a tu correo</div>-->
                    <div *ngIf="password && password.invalid && (password.dirty || password.touched) && password.errors?.['required']" class="text-danger">
                      Debe ingresar una contraseña.
                    </div>
                    <div *ngIf="password && password.invalid && (password.dirty || password.touched) && password.errors?.['minlength']" class="text-danger">
                      La contraseña debe tener mínimo 8 caracteres
                    </div><br>
                    <label class="form-label" for="lostaccountconfirm">Confirmación de contraseña</label>
                    <input type="password" name="passwordConfirm" id="lostaccountconfirm" class="form-control" formControlName="passwordConfirm"  placeholder="Confirmación de contraseña" required>
                    <!--<div class="help-block">Te enviaremos instrucciones a tu correo</div>-->
                    <div *ngIf="passwordConfirm?.invalid && (passwordConfirm?.dirty || passwordConfirm?.touched) && passwordConfirm?.errors?.required" class="text-danger">
                      Debe ingresar una contraseña.
                    </div>
                    <div *ngIf="passwordConfirm?.invalid && (passwordConfirm?.dirty || passwordConfirm?.touched) && passwordConfirm?.errors?.minlength" class="text-danger">
                      La contraseña debe tener mínimo 8 caracteres.
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-4 ml-auto text-right">
                      <button [disabled]="!this.forgotPasswdNewPasswdForm.valid" id="js-login-btn" type="submit" class="btn btn-danger">Cambiar</button>
                    </div>
                  </div>
                </form>
                <div *ngIf="passwordReset" class="fs-xxl fw-500 mt-4 text-center">
                  Tú contraseña se ha restablecido con éxito, ya puedes iniciar sesión.
                </div>
                <div *ngIf="passwordReset" class="blankpage-footer text-center">
                  <p class="m-0"><a routerLink="/login"><span class="fw-900"><u>Inicio de sesión</u></span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
